@charset "utf-8";
/*   
Theme Name: Cairo24
Theme URI: http://cairo24.com
Author: Mohamed Aref - Email: muh.aref@live.com
Author URI: http://web-ankor.com
Version: 1
*/
@font-face {
    font-family: 'GE SS TV Bold';
    src: url('http://www.fontsaddict.com/fontface/ge-ss-tv-bold.otf');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { margin: 0 auto; width: 100%; background: #f1efef; }
body * { margin: 0; padding: 0; direction:rtl; }

img { width: 100%; } 

.wrapper {padding-bottom: 50px;}

ul { list-style: none; }
ul li { float: right; }

input, textarea, select { font-size: 12px; }
textarea { overflow: auto; }
article, aside, details, footer, header, menu, nav, section { display: block; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.row { max-width: 1100px; }

/* --------------------- site styles --------------------- */

/* header */
.header { margin-top:20px; }
.header .header-top {background: #f9f9f9; padding: 15px;}
.header .logo {display: block; width: 100%; height: 63px; margin-top: 4px; text-indent: -5000px; white-space: nowrap; background: url("../images/logo.png") no-repeat right center; background-size: contain;}
.header .crt-time {color: #9f9f9f; font-size: 16px; font-weight: bold; width: 100%; text-align: left; line-height: 67px;}
.header .user-profile-menu { width:35px; height:37px; background: #ed3743 url("../images/profile-icon.png") no-repeat center center; cursor: pointer; margin: 12px 10px 0 5px; }
.header .user-profile-image {margin: 5px 20px 0 0; overflow: hidden;}
.header .user-profile-image a { text-indent:-5000px; display:block; width:100px; height:37px; background: #ed3743 url("../images/fb_login.png") no-repeat center top -3px; margin-top:7px; } 
.header .user-profile-image img {width: 52px; height: 52px;}
.header .search {background: #f3f3f3; position: relative; height: 45px; margin: 9px 0 0; width: 210px; overflow: hidden; }
.header .search input {background: transparent; border: 0; box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; -webkit-box-shadow:0 0 0; height: 45px;}
.header .search .text {width: 100%; padding-left: 50px;}
.header .search .submit {width: 45px; height: 45px; position: absolute; top:0; left:0; cursor: pointer; background: url("../images/search-icon.png") no-repeat center center; text-indent: -5000px;}
.header .search .submit:hover {background-color: #e8e8e8;}
.header .site-menu {background: #202020; padding: 0 8px 0 0;}
.header .site-menu.fixed {position: fixed; top:0;box-shadow: 0 0px 12px #FFF; -moz-box-shadow: 0 0px 12px #FFF; -webkit-box-shadow: 0 0px 12px #FFF;}
.header .home-icon {background: #303030 url("../images/home-icon.png") no-repeat center center; width: 42px; height: 40px; text-indent: -5000px;margin-top: 8px; white-space: nowrap;}
.header .home-icon:hover {background-color:#383838; }
.header .large-menu { padding-right: 11px;}
.header .large-menu li {padding: 9px 11px; position: relative;}
.header .large-menu li:before {position: absolute; display: none; top: 0; right: 0; width: 100%; height: 6px; background: #ed3743; }
.header .large-menu li:after {position: absolute; display: none; top: 6px; right: 50%; margin-right: -6px; width: 0; height: 0; background: transparent; border-top: 6px solid #ed3743; border-left: 6px solid transparent; border-right: 6px solid transparent; }
.header .large-menu li:hover {background: #352224;}
.header .large-menu li:hover:before,.header .large-menu li:hover:after {display:block;}
.header .large-menu li a {color: #fff; font-family: 'GE SS TV Bold'; font-size: 21px; line-height: 39px; height: 100%; display: block;}
.header .large-menu li.more {color: #fff; font-family: 'GE SS TV Bold'; font-size: 22px; line-height: 39px; height: 100%; display: block;}
.header .large-menu li .sub-menu { display:none; position: absolute; top: 56px; right:0; width: auto; background: #202020; margin: 0;}
.header .large-menu li.more:hover .sub-menu { display:block; }
.header .large-menu li .sub-menu li {float: none; width: 100%; padding: 10px 20px; background: #352224; margin-top: 1px;}
.header .large-menu li .sub-menu li:hover {background: #202020;}
.header .large-menu li .sub-menu li a { font-size: 14px; white-space: nowrap; line-height: 20px;}
.header .site-menu .social {padding-top: 7px;}
.header .site-menu .social li { width: 63px; height: 44px; }
.header .site-menu .social li a { width: 28px; height: 20px; text-indent: -5000px; white-space: nowrap; display: block; margin: 15px auto; background: url("../images/social.png") no-repeat; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; transition: all 200ms ease-in;}
.header .site-menu .social li.fb { border-right: 1px solid #313131; border-left: 1px solid #313131; }
.header .site-menu .social li.fb a {background-position: -70px 0px;}
.header .site-menu .social li.fb a:hover {background-position: -70px -20px;}
.header .site-menu .social li.tw a {background-position: 2px 0px;}
.header .site-menu .social li.tw a:hover {background-position: 2px -20px;}
.header .site-menu .social li.gp a {background-position: -149px 0px;}
.header .site-menu .social li.gp a:hover {background-position: -149px -20px;}

/* slider-feed */
.slider-feed { margin-top: 20px;}
.slider {}
.slider .slider-main {border-left: 5px solid #f1efef; margin-top: 1px; background: #202020;}
.slider .slider-main .slider-main-img { border-bottom: 3px solid #ed3743;  overflow: hidden;}
.slider .main-title { color: #fff; font-size: 24px; padding: 13px 16px; display: block; height: 74px; overflow: hidden; }
.slider .main-title:hover { color: #ed3743; }
.slider .slider-main .news-icons { border-top: 3px solid #353535; background: #202020;}
.slider .slider-main .news-icons li { height: 35px; }
.slider .slider-main .news-icons li a {  height: 22px; width: 23px; display: block; margin:7px auto; cursor: pointer; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; transition: all 200ms ease-in;}
.slider .slider-main .news-icons .share a { background: url("../images/share-icon.png") no-repeat 0px 0px; }
.slider .slider-main .news-icons .share a:hover { background-position: 0px -22px; }
.slider .slider-main .news-icons .like { border-right: 3px solid #353535; border-left: 3px solid #353535; }
.slider .slider-main .news-icons .like a {  background: url("../images/like-icon.png") no-repeat 0px 0px; }
.slider .slider-main .news-icons .like a:hover { background-position: 0px -22px; }
.slider .slider-main .news-icons .comment a { background: url("../images/comment-icon.png") no-repeat 0px 0px; }
.slider .slider-main .news-icons .comment a:hover { background-position: 0px -22px; }
.slider .slider-thums { padding-left: 15px;}
.slider .slider-thums .news-icons {display: none;}
.slider .slider-thums .slider-thum {border-top: 1px solid #f1efef; border-bottom: 1px solid #f1efef; background: #202020; cursor: pointer;}
.slider .slider-thums .thum-title { padding: 12px 10px 0; font-size: 18px; color: #fff; line-height: 19px; height: 74px; overflow: hidden;}
.slider .slider-thums .thum-title:hover, .slider .slider-thums .slider-thum.active .thum-title { background: #ED3743; color: #fff; }
.slider .slider-thums .slider-thum-img img { height: 78px; }
.slider .slider-thums .slider-large-img {display: none;}
.feed {padding: 10px; background: #f9f9f9; border-top: 1px solid #f1efef; }
.sidebar .feed {margin-top: 15px;}
.feed-elem {border-bottom: 2px solid #e9e9ea; padding-bottom: 11px; margin-bottom: 11px; position: relative; }
.feed-elem:last-child {border-bottom: 0; padding-bottom: 0; margin-bottom: 0; }
.feed-elem a {color: #666666; font-size: 15px; font-weight: bold; height: 43px; overflow: hidden; line-height: 18px; padding: 4px 8px 0;}
.fixed-sidebar.fix-me {position: fixed; top:60px; }
.feed-mogaz { display: none !important; position: absolute; width: 400px; background: #fff; padding: 8px; right:-425px; top: -110px; z-index: 95; }
.feed-mogaz img { width:100%; border-bottom: 2px solid #ED3743; }
.feed-mogaz div {overflow: hidden;}
.feed-mogaz p {color: #666666; font-size: 15px; font-weight: bold; line-height: 20px; padding: 8px; }
.feed-mogaz:after { display: block; border-right: 10px solid #fff; border-top: 8px solid transparent; border-bottom: 8px solid transparent; position: absolute; top: 126px; left: -10px; }
.feed-elem:hover .feed-mogaz { display: block !important; }

/* main */
.content .main {padding-left: 15px; margin-top: 15px;}

/* top-story */
.top-story {padding: 10px 8px; background: #f9f9f9; }
.top-story .top-stories-cont {overflow: hidden; position: relative; }
.top-story .top-stories-cont .arrow-left {position: absolute; z-index: 2; top: 50%; margin-top: -40px; background: url("../images/top-stories-arrow-left-white.png") no-repeat center center; display: block; width: 32px; height: 49px; cursor: pointer; left: 3px; background-color:#000; background-color: rgba(0,0,0,0.5); }
.top-story .top-stories-cont .arrow-right {position: absolute; z-index: 2; top: 50%; margin-top: -40px; background: url("../images/top-stories-arrow-right-white.png") no-repeat center center; display: block; width: 32px; height: 49px; cursor: pointer; right: 3px; background-color:#000; background-color: rgba(0,0,0,0.5); }
.top-story .top-stories-cont .arrow-right.disabled, .top-story .top-stories-cont .arrow-left.disabled { display: none; }
.top-story .top-stories-cont li {padding: 0 3px;}
.top-story .top-stories-cont .news-img {border-bottom: 2px solid #ed3743;}
.top-story .top-stories-cont li > a { color: #3b5998; font-size: 18px; line-height: 24px; font-weight: bold; height: 54px; overflow: hidden; text-align: center; display: block; padding: 8px;}
.top-story .top-stories-cont li a:hover { text-decoration: underline; }
.top-story .top-stories-cont ul {position: relative; right:0; }

/* home-sections */
.home-section {margin-top: 15px;}
.sec-white-bg { background: #fff;  padding: 7px; margin-top: 7px;}
.section-title {position:relative; background: #202020; background: #202020 url("../images/section-title-arrow.png") no-repeat left 10px center; padding: 5px 11px; overflow: hidden; }
.section-title .sec-title-arrow {position: absolute; top:0; height: 100%; left: 0; width: 30px; z-index: 2;}
.section-title h1,.section-title a {color: #fff; font-family: 'ge ss tv bold'; font-size: 20px;}
.home-section .sec-items {}
.home-section .sec-items > div { background: #f9f9f9; overflow: hidden;}
.home-section .sec-items > div a { padding: 6px 11px; color: #ed3743; font-size: 17px; font-weight: bold; line-height: 19px; font-size: 16px; overflow: hidden; }
.home-section .sec-items > div a:hover { text-decoration: underline;}
#folders-sec {}
#folders-sec .sec-items  a {display:none;}
#folders-sec .sec-items > div:nth-child(1) { border-left: 3px solid #fff;}
#folders-sec .sec-items > div:nth-child(2) { border-right: 3px solid #fff;}
#folders-sec .sec-items > div:nth-child(3) {margin-top: 7px; border-left: 3px solid #fff;}
#folders-sec .sec-items > div:nth-child(4) {margin-top: 7px; border-right: 3px solid #fff;}
#folders-sec .sec-items > div:nth-child(3) a, #folders-sec .sec-items > div:nth-child(4) a {color: #3b5998;}
.more-link { margin-top:7px; display: block; color: #a6a6a6; font-size: 20px; font-family: 'ge ss tv bold'; text-align: center; background:#f9f9f9 url("../images/more-icon.png") no-repeat left 8px center; line-height: 34px; }
.more-link:hover {color: #ed3743; background-image: url("../images/more-icon-red.png"); }
.news-icons { border-top: 2px solid #e7e7e7; background: #f9f9f9; }
.news-icons li { height: 28px; }
.news-icons li a {  height: 16px; width: 17px; display: block; margin:7px auto; cursor: pointer; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; transition: all 200ms ease-in;}
.news-icons .share a { background: url("../images/share-icon-gray.png") no-repeat 0px 0px; }
.news-icons .share a:hover { background-position: 0px -16px; }
.news-icons .like { border-right: 2px solid #e7e7e7; border-left: 2px solid #e7e7e7; }
.news-icons .like a {  background: url("../images/like-icon-gray.png") no-repeat 0px 0px; }
.news-icons .like a:hover { background-position: 0px -16px; }
.news-icons .comment a { background: url("../images/comment-icon-gray.png") no-repeat 0px 0px; }
.news-icons .comment a:hover { background-position: 0px -16px; }
.home-section.system1 .large-div a.title {color:#ed3743; font-size: 21px; font-weight: bold; padding: 12px 10px 0; height: 56px;display: block; margin-bottom: 10px;overflow: hidden;}
.home-section.system1 .large-div { background: #f9f9f9; overflow: hidden;}
.home-section.system1 .small-div {margin-top: 8px; background: #f9f9f9; overflow: hidden;}
.home-section.system1 .small-div a.title {color:#3b5998; font-size: 18px; font-weight: bold; padding: 13px 10px 0; display: block; line-height: 21px;overflow: hidden;height: 76px; margin-bottom: 7px;}
.home-section.system1 .large-div .news-img {border-bottom: 3px solid #ed3743;}
.home-section.system1 .small-div .news-img {border-left: 2px solid #ed3743;}
.home-section.system1 .large-div a.title:hover, .home-section.system1 .small-div a.title:hover {text-decoration: underline;}

/* home-sections padding */
#agel-news,#political-news {padding-left: 7px;}
#hwades-news,#cities-news {padding-right: 7px;}

/* albums */
.album-large-img {border-bottom: 3px solid #ed3743; margin-bottom: 3px; overflow: hidden; position: relative;}
.album-large-img:hover .news-box-icon {display: block;}
.album-thums > div {padding: 0 1px;}
.album-div .news-icons {overflow: hidden;}
#home-albums a.title {color:#ed3743; font-size: 18px; font-weight: bold; padding: 11px 10px 0; height: 57px;display: block; margin-bottom: 10px;overflow: hidden;line-height: 23px;}
#home-albums a.title:hover {text-decoration: underline;}
#home-albums .more-link {margin-top: 3px;}
#home-albums .album-div:nth-child(2) {padding-left: 7px;}
#home-albums .album-div:nth-child(3) {padding-right: 7px;}

/* videos */
.home-section .video-large a.title { background:#f9f9f9; color:#ed3743; font-size: 22px; font-weight: bold; padding: 12px 10px 0; height: 66px;display: block; border-bottom: 10px solid #f9f9f9; overflow: hidden;}
.video-small a.title { background:#f9f9f9; color:#3b5998; font-size: 18px; font-weight: bold; padding: 12px 10px 0; height: 77px;display: block; border-bottom: 10px solid #f9f9f9; overflow: hidden;}
.home-section .video-large a.title:hover, .video-small a.title:hover {text-decoration: underline;}
.video-img {position: relative;border-bottom: 2px solid #ed3743;}
.video-small .video-img {border-bottom: 3px solid #ed3743;}
.video-img:after { cursor: pointer; display: block; width:80px; height:80px; position:absolute; top:50%; right:50%; margin-top: -40px; margin-right: -40px; background: url("../images/video-icon.png") no-repeat center center; background-size: 80px 80px; }
.video-img:hover:after { display:none;}
.video-img:hover .news-box-icon {display: block;}
#videos .sec-white-bg {padding: 4px;}
.home-section .video-large, .home-section .video-small {padding: 3px; overflow: hidden; }

/* live-widget */
#live-widget { position: relative; }
#live-widget .arrow-left {position: absolute; left: 16px; z-index: 5; cursor: pointer; bottom: 35px; width: 12px; height: 18px;background: url("../images/live-widget-arrows.png") no-repeat -12px -18px;}
#live-widget .arrow-left:hover {background-position: 0px -18px; }
#live-widget .arrow-right {position: absolute; right: 16px; z-index: 5; cursor: pointer; bottom: 35px; width: 12px; height: 18px;background: url("../images/live-widget-arrows.png") no-repeat 0 0px;}
#live-widget .arrow-right:hover {background-position: -12px 0px; }
.widget-divs {position: relative; overflow: hidden;}
.widget-divs li { float: none; display: none; background: #f9f9f9; padding-bottom: 15px; top:0; right: 0; width: 100%; }
.widget-divs li:first-child { display: block; }
.widget-divs li.current { z-index: 1; }
.widget-divs .news-img {border-bottom: 2px solid #ed3743;}
.widget-divs .news-img img {width: 100%;}
.widget-divs li a { width: 80%; display: block; text-align: center; height: 20px; overflow: hidden;margin: 15px auto 0; color:#ed3743; font-size: 16px; font-weight: bold; }
.widget-bullets {text-align: center; width: 100%; background: #f9f9f9; height: 15px; font-size: 0;}
.widget-bullets li {display: inline-block; float: none; width: 18px; height: 20px; background: #fff; text-align: center; padding-top: 5px;}
.widget-bullets li:first-child {padding-right: 5px;}
.widget-bullets li:last-child {padding-left: 5px;}
.widget-bullets li span {display: inline-block; width: 10px; height: 10px; background: #898989; cursor: pointer;}
.widget-bullets li.active span {background: #ED3743;}

/* writers */
.writer-photo {border-left: 2px solid #ed3743; }
.writer-info {padding: 0 6px; }
#writers .name {padding: 0px 4px; color: #ed3743; font-size: 17px; font-weight: bold; border-bottom: 2px solid #e7e7e7; line-height: 26px;}
#writers .title {padding: 5px 4px 0; color: #666666; font-size: 15px; font-weight: bold; display: block;line-height: 16px;overflow: hidden;max-height: 40px;}
#writers .title:hover {color: #3b5998;}
#writers .sec-white-bg > div {background: #f9f9f9; margin-top: 4px;}
#writers .sec-white-bg > div:first-child {margin-top: 0px;}

/* services */
#services .title {color: #3b5998; border-bottom: 2px solid #ed3743; font-family: 'ge ss tv bold'; font-size: 14px; padding-right: 6px; background: #f9f9f9;}
#services .title:hover {color: #ed3743;}
#services .title span {font-size: 12px; }
#services .service-info { padding: 8px 0; }
#services .service-info img { width: auto; } 
#services .service-cont { background: #f9f9f9; margin-bottom: 4px; padding-top: 3px; overflow: hidden;}
#services .service-cont:last-child { margin-bottom: 0px;}
#services .service-info .text { text-align: center; color: #666666; font-size: 18px; font-family: 'ge ss tv bold';  line-height: 24px;}
#services .image { text-align: center; }
#services .hazzak {padding:6px; background: #f9f9f9;}
#services .hazzak li { padding: 5px; }
#services .hazzak li:hover { background: #fff; }
#services .hazzak a { display:  block; width: 100%; text-align: center; }
#services .hazzak img { display: block; margin: 0 auto; max-width: 100%; height: 25px;}

/* most-read */
.most-most.home-section .large-div a.title {color:#ed3743; font-size: 18px; font-weight: bold; padding: 12px 10px; height: 60px;display: block; margin-bottom: 8px; overflow: hidden;}
.most-most.home-section .small-div a.title {color:#666666; font-size: 15px; font-weight: bold; padding: 13px 10px 0; display: block; line-height: 18px;overflow: hidden; height:68px; margin-bottom: 10px;}
.most-most.home-section .large-div a.title:hover, .most-most.home-section .small-div a.title:hover {text-decoration: underline;}
.most-read-small > div, .most-most .large-div, .most-most .large-div {background: #f9f9f9; margin-bottom:7px; overflow: hidden; }
.most-read-small > div:nth-child(even) { border-right: 3px solid #fff; }
.most-read-small > div:nth-child(odd) { border-left: 3px solid #fff; }
.most-read-small .news-img, #most-comment .large-div .news-img, #most-read .large-div .news-img {border-bottom: 3px solid #ed3743;}
.most-most.home-section .more-link {margin: 0;}


/* advertisement */
.rectangular-adv { text-align: center; margin: 15px 0 0; }
.rectangular-adv img { width:auto; } 
#square-adv-1 {text-align: center; margin-top: 15px;}

/* news-box */
.news-img {overflow: hidden; position: relative;}
.news-img img {transition: all 0.2s ease-in; position: relative; right: 0; top:0;}
.news-img:hover img {-moz-transform: scale(1.05,1.05);-webkit-transform: scale(1.05,1.05);-o-transform: scale(1.05,1.05);-ms-transform: scale(1.05,1.05);transform: scale(1.05,1.05);}
.news-box-icon {position: absolute; z-index:2; cursor: pointer; display: none; top:0; right:0; width: 100%; height: 100%; background: url("../images/news-box-icon.png") no-repeat center center;}
.news-img:hover .news-box-icon {display: block;}

.pop-up-box {width: 100% !important; height: 100% !important; overflow: hidden; padding: 0;}
.box-content { padding: 20px; background: #fff; }
.news-content {padding: 20px 30px; overflow: hidden; background: #f9f9f9; }
.box-news-title { color: #ed3743; padding-bottom: 10px; border-bottom: 2px solid #e9e9e9;}
.box-news-img {width: 70%; margin: 15px auto; position: relative; border-bottom: 3px solid #ed3743; }
#album-box .box-news-img {width: 100%; }
.img-description {position: absolute; z-index:3; bottom: 0; width: 100%; height: 42px; line-height: 51px; color: #ECECEC; background: url("../images/box-img-desc-bg.png") repeat-x left bottom; text-align: center; font-weight: bold;}
.box-news-info { }
.box-news-info .writer {color: #ED3743; font-size: 16px; text-align: right; font-weight: bold;}
.box-news-info .date {font-size: 14px; font-weight: bold;text-align: left;color: #828282;line-height: 25px;}
.box-news-body {padding: 15px 0;}
.box-news-body p { font-size: 17px; margin-bottom: 15px; font-weight: bold; color: #565656;}
.box-news-body img {margin: 15px auto; width: 50%; display: block;}
.box-news-body h2 {font-size: 24px; font-weight: bold;}
#cboxLoadedContent {border: 0; padding: 50px !important; background: none;}
#cboxContent {margin: 0; background: none;}
#cboxClose {width: 35px; height: 35px; z-index: 5; top:33px; right:33px; background: url("../images/collapse-icon.png")no-repeat; box-shadow: 0 0 10px #000; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; -o-box-shadow: 0 0 10px #000; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%;}
#cboxClose:hover {box-shadow: 0 0 20px #000; -webkit-box-shadow: 0 0 20px #000; -moz-box-shadow: 0 0 20px #000; -o-box-shadow: 0 0 20px #000;}
#colorbox,#colorbox, #cboxOverlay, #cboxWrapper {overflow: visible !important;}

.news-sidebar {overflow: hidden; width: 300px; background: #f9f9f9;}
.news-box-comments {margin-top: 15px;}
.news-box-comments .section-title {background-image: none; }
.fbFeedbackContent .composer {background: #f9f9f9 !important; }

.box-content-adv {text-align: center; margin-top: 15px;}

#album-box .arrow-left {position: absolute; z-index: 2; top: 50%; margin-top: -40px; background: url("../images/top-stories-arrow-left-white.png") no-repeat center center; display: block; width: 42px; height: 59px; cursor: pointer; left: 0px; background-color:#000; background-color: rgba(0,0,0,0.5); }
#album-box .arrow-right {position: absolute; z-index: 2; top: 50%; margin-top: -40px; background: url("../images/top-stories-arrow-right-white.png") no-repeat center center; display: block; width: 42px; height: 59px; cursor: pointer; right: 0px; background-color:#000; background-color: rgba(0,0,0,0.5); }
#album-box .album-images {overflow: hidden; position: relative;}
#album-box .album-images img {display: none; top:0; right:0;}
#album-box .album-images img:first-child {display: block;}
#album-box .album-images img.current {z-index: 1;}




/* section-news */
.section-news {}
.section-news .section-top .large-div:nth-child(odd) { border-left: 4px solid #fff; }
.section-news .section-top .large-div:nth-child(even) { border-right: 4px solid #fff; }
.section-news .large-div a.title {color:#ed3743; font-size: 21px; font-weight: bold; padding: 12px 10px; height: 56px;display: block; margin-bottom: 10px;overflow: hidden;}
.section-news .large-div { background: #f9f9f9; overflow: hidden;}
.section-news .small-div {margin-top: 8px; background: #f9f9f9; overflow: hidden;}
.section-news .small-div a.title {color:#3b5998; font-size: 19px; font-weight: bold; padding: 13px 10px 0; display: block; line-height: 21px;overflow: hidden;height: 35px; margin-bottom: 7px;}
.section-news .large-div .news-img {border-bottom: 3px solid #ed3743;}
.section-news .small-div .news-img {border-left: 2px solid #ed3743;}
.section-news .large-div a.title:hover, .section-news .small-div a.title:hover {text-decoration: underline;}
.section-news .news-description { color: #686868; padding: 0 10px; font-size: 16px; font-weight: bold; line-height: 20px; margin-bottom: 8px; height: 81px; overflow: hidden; }
.section-news .small-div .news-description { height: 79px; overflow: hidden; font-size: 16px; margin-bottom: 0; }
.news-icons-date .date {color: #959595; padding: 0 10px; font-size: 15px; font-weight: bold; line-height: 27px; border-top: 2px solid #e3e3e3; }
.section-news .rectangular-adv {margin-bottom: 15px;}
.loading {text-align: center; margin-top: 35px; }
.news-loading-gif {width: 150px; }

/* single-news */
.single-news-title {}
.single-news {padding: 20px 30px; overflow: hidden; background: #f9f9f9; }
.single-news-title { color: #ed3743; padding-bottom: 10px; border-bottom: 2px solid #e9e9e9;}
.single-news-img {width: 80%; margin: 15px auto; position: relative; border-bottom: 3px solid #ed3743; }
.single-news-vid { margin: 15px auto; }
.img-description {position: absolute; bottom: 0; width: 100%; height: 42px; line-height: 51px; color: #ECECEC; background: url("../images/box-img-desc-bg.png") repeat-x left bottom; text-align: center; font-weight: bold;}
.single-news-info { }
.single-news-info .writer {color: #ED3743; font-size: 16px; text-align: right; font-weight: bold;}
.single-news-info .date {font-size: 14px; font-weight: bold;text-align: left;color: #828282;line-height: 25px;}
.single-news-body {padding: 15px 0;}
.single-news-body p { font-size: 17px; margin-bottom: 15px; font-weight: bold; color: #565656;}
.single-news-body img {margin: 15px auto; width: 50%; display: block;}
.single-news-body h2 {font-size: 24px; font-weight: bold;}
.single-related-news {}
.related-news-title { position: relative; }
.related-news-title:before { position: absolute; width: 100%; height: 2px; background:#e9e9e9; top:50%; margin-top: -1px; }
.related-news-title h2 { display: inline-block; margin-right: 20px; font-family: 'ge ss tv bold'; position: relative; z-index: 1; padding: 0 10px; color: #ed3743; font-size: 24px; background: #f9f9f9;  }
.related-news-item { margin-top: 15px;}
.related-news-item .news-img { border-left: 2px solid #ed3743; }
.related-news-item a { color: #3c5a98; font-size: 19px; font-weight: bold; line-height: 21px; height: 62px; overflow: hidden; padding: 10px 10px 0 20px;  }
.related-news-item a:hover {text-decoration: underline;}
.sec-white-bg.small-padding {padding: 3px;}
#single .home-section.system1 .large-div {border: 4px solid #fff;}
#single .home-section.system1 .large-div a.title {font-size: 19px;}
#single .rectangular-adv {margin-bottom: 15px;}
.share-icons {padding: 0; overflow: hidden;}
.share-icons > span { margin-top: 15px; height: 22px; overflow: hidden;}
.share-icons * {box-sizing: content-box !important; direction: ltr; float: left; }
.st_plusone_hcount iframe {position: relative !important; left: 6px !important; top: 1px !important;}
.single-news-tags {margin-bottom: 30px; margin-top: -15px;}
.single-news-tags li { margin: 10px 0 0 10px; }
.single-news-tags .tags-icon {width: 30px; height: 28px; background: url("../images/tags-icon.png") no-repeat; margin-left: 15px; }
.single-news-tags li a { height: 33px; display: inline-block; padding: 3px 8px; font-size: 15px; white-space: nowrap; color: #3b5999; background: #f1eff0; border: 2px solid #e9e9eb; font-weight: bold; }
.single-news-tags li a:hover { background-color: #565656; color: #fff; }
.video-content {padding-bottom:40px;height: 175px; margin-bottom: 20px; overflow: hidden; position: relative;}
.video-content.auto {height: auto;}
p.toggle-video-content { cursor: pointer; position: absolute; bottom: 0; right: 0; border: 3px solid #e9e9eb; color: #C4C4C4; font-size: 20px; font-family: 'ge ss tv bold'; text-align: center; background: #f9f9f9 url("../images/more-icon.png") no-repeat left 8px center; line-height: 34px; margin: 0; }
p.toggle-video-content:hover {color: #ed3743; background-image: url("../images/more-icon-red.png"); }
.single-related-videos {margin: 0 -4px !important;}
.single-related-videos .video-small { margin-top:15px; padding: 0 4px;}
.single-related-videos .video-small .video-img {overflow: hidden;}
.single-related-videos .video-small a.title {font-size: 16px; height: 55px;}
.single-album-thums { margin: 0 -3px 35px;}
.single-album-thum {  overflow: hidden; border: 2px solid #f9f9f9; }
.single-album-thum .news-img { border: 3px solid #fff; border-bottom:0; }
.single-album-thum .news-img img { border-bottom:  3px solid #ed3743;; }
.news-icons.white {background: #fff; border-top: 0;}
.single-related-albums {margin: 0 -3px;}
.single-related-albums .album-div {border: 3px solid #f9f9f9; overflow: hidden;}
.single-related-albums .sec-white-bg {padding: 4px;}
.single-related-albums a.title {color:#ed3743; font-size: 16px; font-weight: bold; padding: 11px 10px 0; height: 57px;display: block; margin-bottom: 10px;overflow: hidden;line-height: 23px;}


/* services page */
.prayer-times { padding: 20px 0 20px 100px; background: #fff url("../images/prayer-icon.png") no-repeat left 20px top 20px; }
.prayer-times ul li { border: 1px solid #fff; }
.prayer-times ul li h4 { font-size: 24px; color: #666666; text-align: center; width: 100%; font-family: 'ge ss tv bold'; background: #f7f7f7; line-height: 38px; }
.prayer-times ul li p{ font-size: 18px; color: #666666; width: 100%; text-align: center; font-family: 'Open Sans', sans-serif; margin-top: 5px; }

.weather-conditions { padding: 20px 0 0; margin-bottom: 20px;  background: #fff; }
.weather-conditions li { margin-bottom: 20px; border: 1px solid #fff; }
.weather-conditions li h4 { line-height: 38px; background: #f7f7f7; width: 100%; text-align: center; font-size: 24px; color: #666666; font-family: 'ge ss tv bold'; }
.weather-conditions li i { display: block; margin:5px auto; width: 58px; height: 54px; background: url("../images/weath-cond-icon.png") no-repeat; }
.weather-conditions li p { margin: 0; font-size: 20px; color: #666666; width: 100%; text-align: center; font-family: 'Open Sans', sans-serif;  }
.weather-conditions li i.cond-1 { background-position: -62px 2px; }
.weather-conditions li i.cond-2 { background-position: -197px 1px; }
.weather-conditions li i.cond-3 { background-position: -318px 2px; }
.weather-conditions li i.cond-4 { background-position: -446px 2px; }
.weather-conditions li i.cond-5 { background-position: -574px 2px; }
.weather-conditions li i.cond-6 { background-position: -687px 1px; }

.currency { margin-bottom: 15px; padding: 20px 0 0px 100px; background: #fff url("../images/currency-icon.png") no-repeat left 23px top 20px; }
.currency ul li { margin-bottom: 20px; border: 1px solid #fff; }
.currency ul li p { font-size: 18px; color: #666666; width: 100%; text-align: center; font-family: 'Open Sans', sans-serif; margin-top: 5px; }
.currency ul li h4 { line-height: 38px; background: #f7f7f7; width: 100%; text-align: center; font-size: 24px; color: #666666; font-family: 'ge ss tv bold'; }

.banks { background: #fff; margin-bottom: 15px; }
.banks ul li { margin-bottom: 5px; border: 1px solid #fff; padding-right: 20px; background: #f7f7f7; }
.banks ul.with-icon { padding: 20px 0 0px 100px; background: #fff url("../images/bank-icon.png") no-repeat left 21px top 20px;}
.banks ul li p {line-height: 38px; font-size: 18px; color: #666666; text-align: right; font-family: 'Open Sans', sans-serif; }
.banks ul li h4 { line-height: 38px; text-align: right; font-size: 20px; color: #666666; font-family: 'ge ss tv bold'; }


.pharmacies { background: #fff; margin-bottom: 15px; }
.pharmacies ul li { margin-bottom: 5px; border: 1px solid #fff; padding-right: 20px; background: #f7f7f7; }
.pharmacies ul.with-icon { padding: 20px 0 0px 100px; background: #fff url("../images/phar-icon.png") no-repeat left 21px top 20px;}
.pharmacies ul li p {line-height: 38px; font-size: 18px; color: #666666; text-align: right; font-family: 'Open Sans', sans-serif; }
.pharmacies ul li h4 { line-height: 38px; text-align: right; font-size: 20px; color: #666666; font-family: 'ge ss tv bold'; }

.weather-conditions.horoscope li {height: 160px; text-align: center; }
.weather-conditions.horoscope li:hover { background: rgb(238, 238, 238); }
.weather-conditions.horoscope li:hover h4 { background: rgb(220, 220, 220); }
.weather-conditions.horoscope li img { max-width: 70%; margin: 10% auto; max-height: 60%; width: auto; height: auto; }
.weather-conditions.horoscope li a { display: block; height: 160px;}


/* article page */
.single-news-img.article {width: 60%; }
.writer-img img { width: 90%; border-left: 3px solid #ed3743; }
.article-head .single-news-info { margin-top: 10px; }
.article-head .single-news-info .writer { color: #3b5999; font-size: 18px; }

/* horoscope */
.article-head.horoscope .single-news-info { margin-top: 10px; }
.article-head.horoscope .single-news-info .writer { color: #828282; font-size: 16px; }
.article-head.horoscope .writer-img img { border: 0; }

/* articles-section */
.articles-section .article-cont { position: relative; }
.articles-section .article-info { padding: 5px 15px 0px 40px; }
.articles-section .writer-img img { width: 100%; }
.articles-section .writer { color: #3b5999; font-size: 18px; font-family: 'ge ss tv bold'; }
.articles-section .single-news-title { font-size: 26px; padding-bottom: 0; border-bottom: 0; margin: 2px 0; }
.articles-section .news-icons { position: absolute; height: 100%; width: 30px; top:0; left: 0; border-top:0; border-right: 2px solid #e7e7e7;  }
.articles-section .news-icons li { height: 34%; width: 100%; border: 0 !important; border-bottom: 2px solid #e7e7e7 !important; }
.articles-section .news-icons li:last-child {border: 0 !important; }
.articles-section .news-icons li a { margin: 4px auto; }
.articles-section > div { margin-bottom: 5px; background: #f9f9f9; }

/* writer-profile */
.articles-no { color: #828282; font-size: 15px; font-size: 14px; font-weight: bold; line-height: 25px; }
.single-news-title.writer-name { font-family: 'ge ss tv bold'; border-bottom: 2px solid #e9e9e9 !important; padding: 10px 0; }
.article-head.writer-profile { }
.articles-section .article-title-date { padding: 0 10px; }
.writer-info {color: #666666; font-size: 20px; padding: 15px;}
.writer-info span { color: #3b5999; font-weight: bold; }
.single-related-news.writer-related { margin-top: 15px; background: #fff; }
.writer-related .related-news-title h2 { background: #fff; }









/* footer */
.footer {position: relative; z-index: 2;}
.footer-bottom {background: #1a1a1a;}
.footer-bottom p {text-align: center; color: #fff; font-size: 16px; line-height: 44px; font-family: 'ge ss tv bold';}
.footer-top {background: #202020; padding: 10px 0 15px; }
.footer-top .row > div {margin-top: 10px; border-right: 2px solid #444444; padding-right: 30px;}
.footer-top .row > div:first-child {border: 0; padding-right: 0;}
.footer-top h2 {color: #fff; width: 100%; font-family: 'ge ss tv bold'; font-size: 20px; margin-bottom: 5px;}
.footer-top .footer-menu li {width: 100%; float: none;}
.footer-top .footer-menu li a {color: #a6a6a6; font-size: 17px; font-family: 'ge ss tv bold'; padding-right: 20px; background: url("../images/footer-link-bg.png")no-repeat right center;}
.footer-top .footer-menu li a:hover {text-decoration: underline;}
.footer-logo {width: 190px; height:33px; margin: 0 auto; background: url("../images/logo-small.png")no-repeat; display: block;}
.footer-social {margin-top: 15px;}
.footer-social li {float: right; margin-top: 20px;}
.footer-social li:nth-child(2),.footer-social li:nth-child(5) { border-left: 1px solid #444444; border-right: 1px solid #444444;}
.footer-social a {display: block; margin: 0 auto; background: url("../images/footer-social.png")no-repeat; width: 25px; height: 25px;}
.footer-social .fb a {background-position: -122px -77px; }
.footer-social .tw a {background-position: -49px -77px; }
.footer-social .gp a {background-position: -197px -76px; }
.footer-social .rss a {background-position: -49px -18px; }
.footer-social .yt a {background-position: -122px -18px; }
.footer-social .sh a {background-position: -195px -17px; }
.footer-social .fb a:hover {background-position: -122px -101px; }
.footer-social .tw a:hover {background-position: -49px -101px; }
.footer-social .gp a:hover {background-position: -197px -100px; }
.footer-social .rss a:hover {background-position: -49px -42px; }
.footer-social .yt a:hover {background-position: -122px -42px; }
.footer-social .sh a:hover {background-position: -195px -41px; }






/* -------------------- media queries --------------------- */
/* Small screens */
@media only screen and (max-width: 359px){
    .header .user-profile-image {display: none;}
}

/* Small screens */
@media only screen and (max-width: 40em) {
    body {padding: 0 10px;}
    img {width: 100%;}
    #square-adv-1 img, .rectangular-adv img {width: auto;}
    .header .user-profile-menu, .header .user-profile-image { padding: 0; margin: 2px 0px 0px 0px; }
    .user-profile-menu-cont,.user-profile-image-cont { padding-right: 11px;}
    .header .user-profile-image img {width: 36px; height: 36px;}
    .header .user-profile-menu {width: 28px; height: 28px; margin-left: 0; margin-top: 7px; background-image: url("../images/profile-icon-small.png") }
    .header .logo { background: url("../images/logo-small.png"); width: 190px; height: 33px; }
    .header .site-menu {padding: 0; position: relative; }
    .header .site-menu .social {position: absolute; top:0; left: 0; padding: 0;}
    .header .site-menu .social li {width: 53px;height: 48px;}
    .header .large-menu {width: 100%; padding: 0; background: #2b2b2b; height:0; overflow: hidden;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
    .header .large-menu li {width: 100%; float: none; text-indent: 10px; padding: 6px 11px;}
    .header .large-menu li:hover {background: #ED3743;}
    .header .large-menu li:after,.header .large-menu li:before {display: none !important;}
    .header .large-menu li a {font-size: 20px; line-height: 35px;}
    .header .large-menu li.more {background: transparent; padding: 0; height: auto;}
    .header .large-menu li.more:hover {background: transparent;}
    .header .large-menu li.more span {display: none;}
    .header .large-menu li .sub-menu {display: block; position: static; background: transparent;}
    .header .large-menu li .sub-menu li {padding: 0; margin: 0; background: transparent; width: 100%; float: none; text-indent: 10px;padding: 6px 11px; }
    .header .large-menu li .sub-menu li:hover {background: #ED3743;}
    .header .large-menu li .sub-menu li a {font-size: 20px; line-height: 35px;}
    .dropdown-title {color: #fff; padding-right: 47px; background: url("../images/profile-icon.png") no-repeat right 15px center; cursor: pointer; font-family: 'ge ss tv bold'; font-size: 22px; line-height: 52px;height: 48px;}

    .slider-feed {margin-top: 10px; }
    .slider .slider-main {border: 0;}
    .slider .main-title {line-height: 23px;font-size: 18px;padding: 9px 16px;}
    .slider .slider-thums { padding-left: 0;}

    .content .main {padding: 0px; margin-top: 10px;}
    .top-story .top-stories-cont li a {font-size: 15px;line-height: 18px;height: 43px;padding: 7px 1px;}
    .top-story .top-stories-cont .arrow-left,.top-story .top-stories-cont .arrow-right {width: 25px;height: 40px;background-size: 12px;}
    .home-section .sec-items > div {border: 0 !important; margin: 6px 0 0 !important; border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; }
    .home-section .sec-items > div:first-child {margin: 0 !important;}
    .home-section.system1 .small-div .news-img {border-left: 0; border-bottom: 2px solid #ED3743; }
    .home-section.system1 .small-div a.title {height: 55px;}
    #agel-news, #political-news,#home-albums .album-div:nth-child(2),#home-albums .album-div:nth-child(3),#hwades-news, #cities-news {padding: 0px;}
    .video-small a.title {height: 58px;}
    #most-read.home-section .small-div a.title, #most-comment.home-section .small-div a.title {font-size: 17px; height: 50px;}
    #most-read.home-section .large-div a.title {padding-bottom: 0; height: 62px;}
    #most-comment.home-section .large-div a.title {padding-bottom: 0; height: 50px;}
    .home-section .sec-items > div a {padding: 0 7px; margin-top: 5px;}
    .album-thums > div {padding: 0px 1px 2px;}
    #home-albums a.title {padding: 9px 10px 0px; font-size: 18px; height: 50px; line-height: 20px;}
    .single-news-title {font-size: 22px;}
    .article-head .single-news-title { padding-right: 5px; line-height: 26px; }
    .single-news-img {width: 100%;}
    .single-news-info .date {text-align: right;}
    .single-news-body p {font-size: 15px;}
    .single-news {padding: 11px 15px; }
    .single-news-body h2 {font-size: 18px;}
    .single-news-body img {width: 80%;}
    .related-news-item a {font-size: 15px;line-height: 18px;height: 47px;padding: 5px 10px 0 20px;}
    .news-loading-gif {width: 100px;}
    .section-news .section-top .large-div:nth-child(odd),.section-news .section-top .large-div:nth-child(even) { border: 0; }
    .section-news .section-top .large-div:first-child {margin-bottom: 7px;}
    .footer-top .row > div {border: 0; margin-bottom: 15px;}

    .box-content {padding: 10px; height: 100%; overflow: scroll;}
    #cboxLoadedContent {padding: 0px !important;}
    .pop-up-box .news-content {width: 100% !important; margin-bottom: 20px; height: auto !important; overflow: visible !important; padding: 7px 10px;}
    .pop-up-box .news-sidebar {width: 100% !important; height: auto !important; overflow: visible !important; }
    .pop-up-box .nicescroll-rails {display: none !important;}
    .box-news-title {font-size: 22px;}
    .box-news-img {width: 100%;}
    .box-news-info .date {text-align: right;}
    .box-news-body p {font-size: 15px;}
    .box-news-body h2 {font-size: 18px;}
    .box-news-body img {width: 80%;}
    #cboxClose { width: 20px; height: 20px; top: 3px; right: 3px; box-shadow: 0px 0px 6px #000; background-size: 20px; }
    .footer-top {margin-top: 0px;}

    .currency ul li h4, .weather-conditions li h4, .banks ul li h4, .pharmacies ul li h4, .prayer-times ul li h4 { font-size: 18px; }
    .prayer-times ul li p, .currency ul li p, .pharmacies ul li p, .banks ul li p { font-size: 14px; }
    .prayer-times ul li { margin-bottom: 10px; }
    .prayer-times { padding-bottom: 10px; }

    .articles-section .single-news-title { font-size: 16px; }
    .articles-section .writer { font-size: 16px; }
    .single-news-info .date { font-size: 12px }
    .articles-section .news-icons li a { margin: 9px auto; }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 70em) {
    body {padding: 0 10px;}
    img {width: 100%;}
    #square-adv-1 img, .rectangular-adv img {width: auto;}
    .header .user-profile-menu, .header .user-profile-image { padding: 0; margin: 2px 0px 0px 0px; }
    .user-profile-menu-cont,.user-profile-image-cont { padding-right: 11px;}
    .header .user-profile-image img {width: 36px; height: 36px;}
    .header .user-profile-menu {width: 28px; height: 28px; margin-left: 0; margin-top: 7px; background-image: url("../images/profile-icon-small.png") }
    .header .logo { background: url("../images/logo-small.png"); width: 190px; height: 33px; }
    .header .site-menu {padding: 0; position: relative; }
    .header .site-menu .social {position: absolute; top:0; left: 0; padding: 0;}
    .header .site-menu .social li {width: 53px;height: 48px;}
    .header .large-menu {width: 100%; padding: 0; background: #2b2b2b; height:0; overflow: hidden;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
    .header .large-menu li {width: 100%; float: none; text-indent: 10px; padding: 6px 11px;}
    .header .large-menu li:hover {background: #ED3743;}
    .header .large-menu li:after,.header .large-menu li:before {display: none !important;}
    .header .large-menu li a {font-size: 20px; line-height: 35px;}
    .header .large-menu li.more {background: transparent; padding: 0; height: auto;}
    .header .large-menu li.more:hover {background: transparent;}
    .header .large-menu li.more span {display: none;}
    .header .large-menu li .sub-menu {display: block; position: static; background: transparent;}
    .header .large-menu li .sub-menu li {padding: 0; margin: 0; background: transparent; width: 100%; float: none; text-indent: 10px;padding: 6px 11px; }
    .header .large-menu li .sub-menu li:hover {background: #ED3743;}
    .header .large-menu li .sub-menu li a {font-size: 20px; line-height: 35px;}
    .dropdown-title {color: #fff; padding-right: 47px; background: url("../images/profile-icon.png") no-repeat right 15px center; cursor: pointer; font-family: 'ge ss tv bold'; font-size: 22px; line-height: 52px;height: 48px;}

    .slider-feed {margin-top: 10px; }
    .feed {margin-top: 8px;}
    .feed .feed-elem:nth-last-child(2) {border-bottom: 0; margin-bottom: 0; padding-bottom: 0;}
    .feed .feed-elem:nth-child(even) {padding-right:4px; position: relative;}
    .feed .feed-elem:nth-child(odd) {padding-left: 4px; position: relative;}
    .feed .feed-elem:nth-child(even):after { position: absolute; top:0; right:0; width: 4px; height: 104%; display: block; background: #F9F9F9; }
    .feed .feed-elem:nth-child(odd):after { position: absolute; top:0; left:0; width: 4px; height: 104%; display: block; background: #F9F9F9; }
    .slider .slider-main {border: 0; overflow: hidden;}
    .slider .main-title {line-height: 23px;font-size: 18px;padding: 9px 16px;}
    .slider .slider-thums { padding-left: 0; margin-top: 1px;}
    .slider .slider-thums .slider-thum { float: right; }
    .slider .slider-thums .slider-thum:last-child { display: none; }
    .slider .slider-thums .slider-thum:nth-child(even) { border-right: 1px solid #F1EFEF; }
    .slider .slider-thums .slider-thum:nth-child(odd) { border-left: 1px solid #F1EFEF; }

    .content .main {padding: 0px; margin-top: 10px;}
    .top-story .top-stories-cont li a {font-size: 15px;line-height: 18px;height: 43px;padding: 7px 1px;}
    .home-section .sec-items > div {border: 0 !important; margin: 6px 0 0 !important; border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; }
    .home-section .sec-items > div:first-child {margin: 0 !important;}
    .home-section.system1 .small-div .news-img {border-left: 0; border-bottom: 2px solid #ED3743; }
    .home-section.system1 .small-div a.title {height: 55px;}
    .video-small a.title {height: 58px;}
    #most-read.home-section .small-div a.title, #most-comment.home-section .small-div a.title {font-size: 17px; height: 50px;}
    #most-read.home-section .large-div a.title {padding-bottom: 0; height: 62px;}
    #most-comment.home-section .large-div a.title {padding-bottom: 0; height: 50px;}
    .home-section .sec-items > div a {padding: 0 7px; margin-top: 5px;}
    .album-thums > div {padding: 0px 1px 2px;}
    #home-albums a.title {padding: 9px 10px 0px; font-size: 18px; height: 50px; line-height: 20px;}
    #writers .sec-white-bg > div {margin: 0px  0 5px !important;}
    #writers .sec-white-bg > div:nth-child(even) { border-right: 3px solid #fff; }
    #writers .sec-white-bg > div:nth-child(odd) { border-left: 3px solid #fff; }
    #writers .more-link {margin: 0 !important;}
    #services .image img {width: auto; height: 100%;}
    #services .service-cont {margin-top: 2px;}
    #services .service-cont:nth-child(even) { border-right: 3px solid #fff; }
    #services .service-cont:nth-child(odd) { border-left: 3px solid #fff; }
    .header .search {height: 36px;margin: 3px 0px 0px;width: 200px;}
    .header .search .submit {width: 36px;height: 36px;}
    .home-section.system1 .small-div {position: relative;}
    .home-section.system1 .small-div .news-icons {position: absolute; bottom: 0; left: 0; width: 50%;}
    #most-comment .large-div:nth-child(odd) {border-left: 4px solid #fff;}
    #most-comment .large-div:nth-child(even){border-right: 4px solid #fff;}
    .section-news .small-div {position: relative;}
    #section .section-news .small-div .news-icons-date {position: absolute;bottom: 0px;width: 66.6%;left: 0px; }
    .news-icons-date .date {height: 30px; overflow: hidden; font-size: 14px}
    .section-news .small-div .news-description {height: 40px;}
    .footer-social li {margin-top: 10px;}
    .footer-social {margin-top: 0;}
    .footer-logo {margin-top: 20px;}
    .logo-social {margin-bottom: 15px;}
    .footer-top .row > div:nth-child(2) {border: 0;}
    .footer-top {margin-top: 0px;}

    .currency ul li h4, .weather-conditions li h4, .banks ul li h4, .pharmacies ul li h4 { font-size: 20px; }
    .prayer-times ul li p, .currency ul li p { font-size: 16px; }


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 70em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 70em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */


