<script type="text/javascript">var switchTo5x=true;</script>
<script src="js/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "59dd2645-edcf-4997-bbfd-9244f8948f20", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<div class="pop-up-box" id="album-box">
    <div class="box-content clearfix">
        <div class="news-content right">
            <h1 class="box-news-title small-12">ريال مدريد يتسلّح بالهجوم الضارب امام "تيكي تاكا" برشلونة</h1>
            <div class="box-news-img">
                <div class="album-images" id="album-cont">
                    <img class="small-12" src="images/box-news-img.png" img-caption="كريستيانو رونالدو"/>
                    <img class="small-12" src="images/box-news-img2.png" img-caption="كريستيانو رونالدو 2"/>
                    <img class="small-12" src="images/box-news-img3.png" img-caption="كريستيانو رونالدو 3"/>
                    <img class="small-12" src="images/box-news-img4.png" img-caption="كريستيانو رونالدو 4"/>
                </div>
                <p class="img-description"></p>
                <i class="arrow-right disabled"></i>
                <i class="arrow-left active"></i>
            </div>
            <div class="box-news-info small-12 clearfix">
                <p class="writer medium-6 small-12 right">تصوير: احمد سامى</p>
                <p class="date medium-6 small-12 left">السبت، 25 أكتوبر 2014 - 03:00 م</p>
            </div>
            <div class="box-content-adv"><img src="images/728-90-adv.jpg" alt=""/></div>
        </div>
        <div class="news-sidebar left">
            <div class="box-side-adv"><img src="images/300-250-adv.jpg" alt=""/></div>
            <div class="small-12 share-icons clearfix">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_plusone_hcount' displayText='Google +1'></span>
                <span class='st_email_hcount' displayText='Email'></span>
            </div>
            <div class="news-box-comments">
                <div class="section-title small-12"><h1><a href="">التعليقات</a></h1></div>
                <div class="box-news-comments"><div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="100%" data-numposts="10" data-colorscheme="light"></div></div>
            </div>
        </div>
    </div>
</div>
<!-- end of wrapper -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=249539705113023&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
