<script type="text/javascript">var switchTo5x=true;</script>
<script src="js/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "59dd2645-edcf-4997-bbfd-9244f8948f20", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<div class="pop-up-box" id="video-box">
    <div class="box-content clearfix">
        <div class="news-content right">
            <h1 class="box-news-title small-12">ريال مدريد يتسلّح بالهجوم الضارب امام "تيكي تاكا" برشلونة</h1>
            <div class="single-news-vid small-12 flex-video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/P9-FCC6I7u0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="box-news-info small-12 clearfix">
                <p class="writer medium-6 small-12 right">تصوير: احمد سامى</p>
                <p class="date medium-6 small-12 left">السبت، 25 أكتوبر 2014 - 03:00 م</p>
            </div>
            <div class="box-content-adv"><img src="images/728-90-adv.jpg" alt=""/></div>
            <div class="box-news-body">
                <p>تتحول انظار عشاق الكرة العالمية مساء اليوم السبت الى ملعب سانتياغو بيرنابيو والذي سيكون مسرحاً لقمة من العيار الثقيل تجمع ريال مدريد بالضيف الثقيل برشلونة لحساب الجولة التاسعة من الليغا الاسبانية.</p>
                <p>ويطمع الفريقين الى تحقيق نتيجة ايجابية في الكلاسيكو الاول هذا العام، حيث يأمل برشلونة بتوسيع فارق الصدارة الى 7 نقاط وقتل سباق المنافسة على اللقب مبكراً، بينما يأمل النادي الملكي لتحقيق انتصار يجعله على بعد نقطة من المتصدر برشلونة.</p>
                <p>ولكن..! يعاني ريال مدريد وبرشلونة من مشكلات عديدة بالاضافة لوجود بعض الايجابيات في الكلاسيكو.. و"يوروسبورت عربية" ارادات ان تسلط الضوء على هذه النقاط على النحو التالي:</p>
                <h2>1- تذبذب مستوى الحارس كاسياس وغياب فالديز</h2>
                <img src="images/box1.jpg" alt=""/>
                <p>استقبلت شباك ريال مدريد حتى الجولة الثامنة من الليغا الاسبانية 9 اهداف بمعدل 1.12 هدف في المباراة، بينما لم تستقبل شباك برشلونة اي هدف في الدوري حتى الجولة الثامنة وهو ما يجعل دفاعه بقيادة ماثيو وبيكيه مطالبين بالحفاظ على هذه الرقم امام هجوم ريال مدريد الكاسح.
                    ويعاني ريال مدريد من عدم الثبات على خط دفاعي، واعتماد مبدأ المداورة من خلال الدفع بفاران وناتشو على حساب بيبي ومارسيلو، بالاضافة الى غياب صخرة الدفاع سيرجيو راموس.</p>
                <h2>2- تراجع اداء دفاع ريال مدريد</h2>
                <img src="images/box2.jpg" alt=""/>
                <p>اصبح الحارس الاسباني ايكر كاسياس مطالباً بالرد على انتقادات جماهير النادي الملكيالغاضبة على اداء القديس في الآونة الاخيرة وذلك لاستقبال شباكه العديد من الاهداف السهلة، ويقال في المثل "الدهن في العتاقي" ولكن مستوى كاسياس الحالي مخالف جملتا وتفصيلاً، وهو ما دفع بعض الاصوات من اروقة الميرينغي تتعالى لتطالب باراحة كاسياس امام برشلونة والدفع بالحارس الكوستاريكي كيلور نافاس.
                    وعلى الجانب الاخر.. يفتقد البرسا في لقاء اليوم للحرس القديم فيكتور فالديز - المنتهي عقده مع برشلونة - الذي صال وجال في الكلاسيكو ومنع رونالدو ورفاقه من تسجيل العديد من الاهداف.. لذلك سيكون حارس برشلونة الجديد التشيلي كلاوديو برافو امام اختبار الكلاسيكو.. فهل ينجح في التصدي لصواريخ ريال مدريد ؟؟</p>
            </div>
        </div>
        <div class="news-sidebar left">
            <div class="box-side-adv"><img src="images/300-250-adv.jpg" alt=""/></div>
            <div class="small-12 share-icons clearfix">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_plusone_hcount' displayText='Google +1'></span>
                <span class='st_email_hcount' displayText='Email'></span>
            </div>
            <div class="news-box-comments">
                <div class="section-title small-12"><h1><a href="">التعليقات</a></h1></div>
                <div class="box-news-comments"><div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="100%" data-numposts="10" data-colorscheme="light"></div></div>
            </div>
        </div>
    </div>
</div>
<!-- end of wrapper -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=249539705113023&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
